.nav {
  font-size: 18px;
  font-weight: 500;
  list-style: none;
  padding-left: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.navItem {
  display: inline-block;
  margin: 20px 20px;
}

.navItemLink {
  text-decoration: none;
  color: #212121;
}

.navItemLinkActiv {
  color: salmon;
}
